:root {
  /* Grid settings */
  --containers-sizes: 75em, 64em, 45em, 34em;
  --containers-labels: xl, lg, md, sm;
  --containers-padding: 2em;

  --breakpoint-sm: 48em;
  --breakpoint-md: 64em;
  --breakpoint-lg: 75em;
}